<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/windowsTemplateStudio"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap genTemplate">

  <Identity
    Name="JUVStudios.DevelopApp"
    Publisher="CN=JUV Studios"
    Version="0.0.3.0" />

  <mp:PhoneIdentity PhoneProductId="8982C99F-A50D-47B3-B079-5A9077C936D0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Develop</DisplayName>
    <PublisherDisplayName>JUV Studios</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ProjectCodeEditor.App">
      <uap:VisualElements
        DisplayName="Develop"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>

        <uap:Extension Category="windows.fileTypeAssociation">

          <uap:FileTypeAssociation  Name="source">

            <uap:SupportedFileTypes>

              <uap:FileType>.md</uap:FileType>

              <uap:FileType>.json</uap:FileType>

              <uap:FileType>.xml</uap:FileType>

              <uap:FileType>.xaml</uap:FileType>

              <uap:FileType>.yaml</uap:FileType>

              <uap:FileType>.yml</uap:FileType>
              
              <uap:FileType>.asm</uap:FileType>
              
              <uap:FileType>.c</uap:FileType>
              
              <uap:FileType>.cc</uap:FileType>
              
              <uap:FileType>.class</uap:FileType>
              <uap:FileType>.clj</uap:FileType>
              <uap:FileType>.cpp</uap:FileType>
              <uap:FileType>.cs</uap:FileType>
              <uap:FileType>.cxx</uap:FileType>
              <uap:FileType>.ixx</uap:FileType>
              <uap:FileType>.hpp</uap:FileType>
              <uap:FileType>.el</uap:FileType>
              <uap:FileType>.go</uap:FileType>
              <uap:FileType>.h</uap:FileType>
              <uap:FileType>.java</uap:FileType>
              <uap:FileType>.lua</uap:FileType>
              <uap:FileType>.m</uap:FileType>
              <uap:FileType>.m4</uap:FileType>
              <uap:FileType>.pl</uap:FileType>
              <uap:FileType>.po</uap:FileType>
              <uap:FileType>.py</uap:FileType>
              <uap:FileType>.rb</uap:FileType>
              <uap:FileType>.rs</uap:FileType>
              <uap:FileType>.sh</uap:FileType>
              <uap:FileType>.swift</uap:FileType>
              <uap:FileType>.vb</uap:FileType>
              <uap:FileType>.diff</uap:FileType>
              <uap:FileType>.patch</uap:FileType>
              <uap:FileType>.js</uap:FileType>
              <uap:FileType>.html</uap:FileType>
              <uap:FileType>.htm</uap:FileType>
              <uap:FileType>.css</uap:FileType>
              <uap:FileType>.jsx</uap:FileType>
              <uap:FileType>.ts</uap:FileType>
              <uap:FileType>.tsx</uap:FileType>
              <uap:FileType>.less</uap:FileType>
              <uap:FileType>.scss</uap:FileType>
              <uap:FileType>.wasm</uap:FileType>
              <uap:FileType>.php</uap:FileType>
              <uap:FileType>.hc</uap:FileType>
            </uap:SupportedFileTypes>

            <uap:DisplayName>Develop</uap:DisplayName>

            <uap:InfoTip>Open and edit this file with Develop</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <uap:Extension Category="windows.protocol">

          <uap:Protocol Name="develop-web">
            <uap:DisplayName>Develop Browser</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="confirmAppClose"/>
    <uap:Capability Name="documentsLibrary"/>

  </Capabilities>

  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Windows Template Studio"/>
    <genTemplate:Item Name="wizardVersion" Version="v3.7.20203.3" />
    <genTemplate:Item Name="templatesVersion" Version="v3.7.20203.3" />
    <genTemplate:Item Name="projectType" Value="Blank" />
    <genTemplate:Item Name="framework" Value="MVVMBasic" />
    <genTemplate:Item Name="platform" Value="Uwp" />
  </genTemplate:Metadata>
</Package>