<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="6.1.1" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.5.0" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210122.3" targetFramework="native" />
  <package id="Win2D.uwp" version="1.25.0" targetFramework="native" />
</packages>